.cmb-fields .cmb-field-item {
	position: relative;
}

.cmb_metabox_description {
	color: #AAA;
	font-style: italic;
	margin: 0 0 16px !important;
}

.cmb-fields input[type=text],
.cmb-fields textarea,
.cmb-fields select {
	width: 100%;
	margin: 0;
}

.cmb-fields input.cmb_text_small {
	width: 100px;
}

.cmb-fields input.cmb_text_medium {
	width: 230px;
	margin-right: 15px;
}

.cmb-fields input[type="radio"] {
	margin: 0 5px 0 0;
	padding: 0;
}

.cmb-fields input[type="checkbox"] {
	margin: 0 5px 0 0;
	padding: 0;
}

.cmb-fields .field-title {
	margin-top: -4px;
	margin-bottom: 16px;
	margin-top: 0;
	font-weight: bold;
}

.cmb-fields .field-title label {
	vertical-align: baseline;
}

.cmb-radio-wrap {
	float: left;
	margin: 0 20px 8px 0;
	display: block;
}

.cmb-checkbox-wrap {
	margin: 0 0 8px;
	display: block;
}

.cmb-fields .field-title label {
	vertical-align: baseline;
}
