.cmb-fields.cmb-fields-horizontal .field:before,
.cmb-fields.cmb-fields-horizontal .field:after {
    content: "";
    display: table;
}

.cmb-fields.cmb-fields-horizontal .field:after {
    clear: both;
}

.cmb-fields.cmb-fields-horizontal .field {
	padding-left: 210px;
	border-bottom: none;
    zoom: 1;
}

.cmb-fields.cmb-fields-horizontal .field-title {
	width: 190px;
	float: left;
	margin-left: -210px;
	margin-top: 6px;
}

.cmb-fields.cmb-fields-horizontal .cmb_metabox_description {
	margin-top: 6px !important;
}

.cmb-field-content {
	float: left;
	width: 100%;
}